@import '../../styles/mixins/index.sass'

.button
  @include NunitoFont
  background-color: var(--background)
  color: var(--interactable)
  border: 2px solid var(--interactable)
  padding: 12px 24px
  border-radius: 12px

  &:hover
    background-color: var(--interactable)
    color: var(--background)
    border: 2px solid none
  

