.notification
  position: fixed
  z-index: 1000
  left: 50%
  transform: translateX(-50%)
  background: var(--background)
  filter: var(--card-shadow)

  border-radius: 12px
  width: 80%
  display: flex
  justify-content: center
  align-items: center
  padding: 12px

