@import '../../styles/mixins'

.h
  margin: 0
  padding: 0
  color: var(--text-primary)

.h1
  @BitterFont(32px, $semibold)
.h2
  @BitterFont(24px, $semibold)
.h3
  @BitterFont(18px, $semibold)
.h4
  @BitterFont(14px, $semibold)
